# make sure the machine name is the same as the hostname of the tailscale container in docker-compose.yml
<machine_name>.<tailnet>.ts.net {
	reverse_proxy immich:2283
}

# set to loopback address so it works on the host machine
127.0.0.1 {
	reverse_proxy immich:2283
}
